### range

- range 함수를 사용하면 정수 목록을 신속하게 생성할 수 있다.
- range는 reang(시작숫자, 종료숫자, step)의 형태이다.
- range의 결과는 **시작숫자**부터 **종료숫자의 앞 숫자** 까지 컬렉션을 만든다.
- 시작숫자와 step은 **생략가능**하다.

In [1]:
mylist = [1,2,3]

In [2]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [3]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

- range는 값을 확인하기 위해서 다른 **순서 있는(iterable)** 컬렉션으로 변환해야한다.

In [4]:
range(0,11)

range(0, 11)

In [5]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
tuple(range(0,11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

### enumerate

- 인덱스 번호와 컬렉션의 원소를 **tuple형태**로 반환

In [11]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

## iterable에 유용한 내장함수

### zip

In [18]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [19]:
zip(mylist1,mylist2)

In [20]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

- zip 함수는 여분의 요소가 있으면 무시한다.

In [21]:
mylist1 = [1,2,3,4,5,6,7,8,9,10]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

### in

In [22]:
'x' in [1,2,3]

False

In [23]:
'x' in ['x','y','z']

True

In [24]:
'a' in 'a world'

True

In [25]:
'mykey' in {'mykey':345}

True

In [28]:
d = {'mykey':345}

345 in d.values()

True

### min / max

In [29]:
mylist = [10,20,30,40,100]

In [30]:
min(mylist)

10

In [31]:
max(mylist)

100

### shuffle

In [47]:
from random import shuffle

In [48]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [49]:
random_list = shuffle(mylist)

- shuffle은 return 값이 없기 때문에 출력되지 않는다

In [51]:
type(random_list)

NoneType

In [52]:
mylist

[1, 2, 8, 9, 5, 3, 10, 4, 7, 6]

### randint

- randint 함수는 인자로 들어온 a, b 사이의 랜덤한 정수(integer)를 반환한다.
- a,b를 범위에 포함한다. (a <= x <= b)

In [53]:
from random import randint

In [54]:
randint(0,100)

77

- reandint는 return 값이 있다.

In [55]:
mynum = randint(0,10)

In [56]:
type(mynum)

int

In [57]:
mynum

7

### input

In [58]:
input('Enter a number here')

Enter a number here123

'123'

In [60]:
result = input('What is your name?')

What is your name?Domm

In [61]:
result

'Domm'

In [62]:
result2 = input('Favorite Number')

Favorite Number12

- input의 값은 문자열(string)이다.

In [63]:
type(result2)

str

- 형변환을 할 수 있다.

In [64]:
float(result2)

12.0

In [65]:
int(result2)

12

In [66]:
result3 = int(input('Favorite Number:'))

Favorite Number:23

In [67]:
result3

23

In [68]:
type(result3)

int